name: Build and Push Docker Image

on:
  push:
    branches:
      - main

# env:
#   ACR_LOGIN_SERVER1: ${{ secrets.ACR_LOGIN_SERVER }}
#   ACR_USERNAME1: ${{ secrets.ACR_USERNAME }}
#   ACR_PASSWORD1: ${{ secrets.ACR_PASSWORD }}

# jobs:
#   build:
#     runs-on: [self-hosted, suraj-kamble]

#     steps:
#     - name: Checkout repository
#       uses: actions/checkout@v2
#     - name: Log in to Azure CLI 
#       uses: azure/login@v1 
#       with: 
#          creds: ${{ secrets.AZURE_CREDENTIALS }}

#     - name: Log in to Azure CLIi
#       run: |
#         sudo docker login $ACR_LOGIN_SERVER1 -u $ACR_USERNAME1 -p $ACR_PASSWORD1

#     - name: Build and tag Docker image
#       run: |
#         docker build . -t $ACR_LOGIN_SERVER1/vilas:latest

#     - name: Push Docker image to ACR
#       run: |
#         docker push $ACR_LOGIN_SERVER1/vilas:latest

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Azure login
      uses: azure/docker-login@v1
      with: 
         login-server: helloworkday.azurecr.io
         username: helloworkday
         password: ${{ secrets.ACR_PASSWORD }}
    - run: |
        docker build . -t helloworkday.azurecr.io/myapp1:${{ github.sha }}
        docker push helloworkday.azurecr.io/myapp1:${{ github.sha }}
