name: Build and Push Docker Image

on:
  push:
    branches:
      - main
env:
  ACR_LOGIN_SERVER1: $${{ secrets.ACR_LOGIN_SERVER }}
  ACR_USERNAME1: ${{ secrets.ACR_USERNAME }}
  ACR_PASSWORD1: ${{ secrets.ACR_PASSWORD }}

jobs:
  build:
    runs-on: [self-hosted, suraj-kamble]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Log in to Azure CLI
      run: |
        docker login kamblesuraj.azurecr.io -u kamblesuraj -p qO5lYqhSIk+iQ1qneQd1OMWgc9TqevRXWpcemXZRT3+ACRBgeEu7
    - name: Build and tag Docker image
      run: |
        docker build . -t ${{ secrets.ACR_LOGIN_SERVER }}/from-github-image:latest
    - name: Push Docker image to ACR
      run: |
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/from-github-image:latest
